/* Container styling */
.container {
    display: flex;
    vertical-align: auto;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    border: black;

}

/* Username and password input fields styling */
.username, .password {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 15px;
}

.username input,
.password input {
    font-size: 18px;
    padding: 8px;
}

/* Button styling */
.button {
    background-color: #000000;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    margin-top: 20px; /* Space between input fields and button */
}

.button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

.button:active {
    transform: translateY(1px);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.label {

    font: -apple-system-short-headline;
    font-size: 25px;

}